* {
    color: black;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body.dark-mode * {
    color: white; 
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.project-details {
    flex: 1;
    margin-right: 20px;
}
.project-details ul {
    list-style-type: none;
    padding-left: 0;
}

.project-details p {
    font-size: 0.9em;
    line-height: 1.4;
}

.project-details ul li {
    counter-increment: list-item;
    margin-bottom: 5px;
}

.project-details ul li::before {
    content: counter(list-item) ". ";
    font-weight: bold;
    margin-right: 5px;
    color: #000; 
}
body.dark-mode .project-details ul li::before {
    color: #fff; 
}
.project-image-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto; 
    max-height: 80vh; 
    padding: 10px;
    position: relative;
}

.project-image {
    flex: 1 1 calc(33.333% - 10px); 
    box-sizing: border-box;
    margin-bottom: 10px;
}

.project-image img {
    width: 100%; 
    height: auto;
    cursor: pointer;
    border: 2px solid #ccc;
    transition: transform 0.3s ease;
}

.project-image img:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    height: auto;
    position: relative;
}

.close {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 5px solid black;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
    display: block; 
}

.close:hover,
.close:focus {
    border: 5px solid red; 
    color: red;
    text-decoration: none;
}


.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    height: auto;
    position: relative;
}


.cursor {
    position: absolute;
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    background-color: #000; 
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
}
body.dark-mode .cursor{
    background-color: #fff; 

}
.link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; 
    font-size: 16px;
}

.link a i {
    margin-right: 8px;
    font-size: 20px;
}

.link a:hover {
    color: #0366d6; 
}
